body {
  text-align: center;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: 2px 2px silver;
}

p {
  margin: 10px 10%;
  padding: 5px;
  font-style: oblique;
}

div {
  padding: 8px;
}

.sub {
  border: 1px outset black;
}

.sub:hover {
  border: 1px inset black;
}

@media all and (max-width:767px) {
  body {
    color: #1E90FF;
  }
  body h1 {
    color: #BA55D3;
  }
  .sub {
    color: #FF6347;
  }
}

@media all and (min-width:768px) and (max-width:1199px) {
  body {
    color: #3CB371;
  }
  body h1 {
    color: #DA70D6;
  }
  .sub {
    color: #FFA500;
  }
}

@media all and (min-width:1200px) {
  body {
    color: #008080;
  }
  body h1 {
    color: #DDA0DD;
  }
  .sub {
    color: #FF4500;
  }
}
