nav li {
color: #4c404d;
padding: 0 26px;
line-height: 140px;
text-align: center;
font-weight: 800;
transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
font-weight: bold;
}


.jumbotron {
background-image: url(background.jpg);
margin-top: 50px;
text-align: center;
}

.jumbotron h1 {
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-size: 48px;
line-height: 57px;
font-weight: 700;
margin: 0px;
padding-bottom: 8px;
color: white;
}

.jumbotron p {
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: 27px;
font-weight: 400;
padding-bottom: 38px;
margin: 0px;
color: white;
}

.jumbotron a {
text-transform: uppercase;
line-height: 52px;
font-size: 14px;
text-transform: uppercase;
padding: 0 29px;
}

.menutop li  {
padding: 0 26px;
line-height: 140px;
text-align: center;
font-weight: 800;
transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
display: inline;
text-transform: uppercase;
}

.menu li {
  display: inline;
  color: #4c404d;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
text-transform: uppercase;
font-weight: bold;
}

.aboutme {
  background-color: #F2F2F2;
}

 .bntDownload {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
border: 3px solid #5b4c5c;
padding: 16px 22px;
display: inline-block;
color: #5b4c5c;
transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
margin-bottom: 5em;
 }


.aboutme h3 {
color: #5b4c5c;
font-size: 18px;
font-weight: bold;
}

.aboutme h4 {
color: #897f8a;
font-size: 18px;
font-weight: bold;
}

 p {
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: 27px;
font-weight: 400;
padding-bottom: 38px;
margin: 0px;
color: #897f8a;
}


.technical p {
  padding-bottom: 41px;
max-width: 660px;
text-align: center;
display: block;
margin: 0 auto;
color: #897f8a;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: 27px;
font-weight: 400;
}

.technical h4 {
  font-weight: 700;
text-transform: uppercase;
font-size: 17px;
line-height: 27px;
padding-bottom: 11px;
color: #5b4c5c;
text-align: center;
}

h2 {
font-family: 'Open Sans', sans-serif;
font-size: 36px;
line-height: 38px;
padding-bottom: 0px;
font-weight: 400;
text-transform: uppercase;
margin: 0px;
border-bottom: #ef7674 6px solid;
padding-bottom: 9px;
text-align: center;
color: #5b4c5c;
margin-bottom: 49px;
margin-top: 49px;
}

.workYear {
display: block;
font-size: 18pxpx;
padding: 0 21px;
white-space: nowrap;
float: right;
margin-bottom: 2px;
margin-right: 28px;
font-weight: bold;
font-size: 17px;
color: #fff;
line-height: 40px;
}

.prevY {
background-color: #ef7674;
}

.afterY {
background-color: #483c49;
}

.exCon h4 {
color: #5b4c5c;
padding-bottom: 1px;
margin-top: -8px;
font-weight: bold;
}

.exprience {
  background-color: #F2F2F2;;
}

.protfolio {
  background-color: #4a4158;
}

.protfolio h2 {
  color: white;
}

.protfolio p {
  color: white;
  text-align: center;
}

.contactDetails h4 {
  text-transform: uppercase;
}

.submitBnt {
  font-family: 'Open Sans', sans-serif;
  color: #5b4c5c;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  float: right;
  margin: 0px;
  width: 135px;
  height: 45px;
  line-height: 40px;
  padding: 0;
  border: #5b4c5c 3px solid;
  text-transform: uppercase;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.conForm textarea {
  background: #ffffff;
color: #897f8a;
padding: 15px 30px;
margin-bottom: 18px;
outline: none;
height: 100px;
font-style: normal;
resize: none;
font-size: 15px;
border: #cdc9ce 1px solid;
}

.conForm input {
  background: #ffffff;
color: #897f8a;
padding: 15px 30px;
border: none;
margin-right: 3%;
margin-bottom: 18px;
outline: none;
font-style: normal;
border: #cdc9ce 1px solid;
font-size: 15px;
}
